<% include ../views/header %>

<div class="container pt-3">
<div class="row">
    <div class="col ">
                <h3 style="text-align: justify; font-weight:bold;color:teal">Nature's Palette</h3>
                <hr>
                <p style="font-size: small;text-align: justify;line-height: 25px;">  
                    <br>
                    The roles of light environment, colouration, and colour vision have been fundamental questions in animal ecology for the last several decades. Over the last 20 years, the rising popularity of portable spectrometers has made objective quantification of the spectral properties of light, and animal/plant commonplace. The research projects that require the quantification of colours typically require thousands of spectral measurements. These usually come from ambient natural or artificial light sources (irradiance), transmittance properties of the medium (air, water), and reflective properties of animal integuments and the substrates in their environment. 
                    <br>
                    <br>
                    Historically, very few of these data were made publicly available to other researchers. Even the datasets that are available through repositories elsewhere
                    are not curated in a way that makes them searchable and/or do not provide the metadata that would easily allow their inclusion in other studies. 
                    As a consequence, the opportunities for large scale studies have been limited, and substantial resources (time and money) have been wasted on duplicating data 
                    for different research projects.
                    <br>
                    <br>
                    Features of the Nature’s Palette project include: 
                    <br> 
                    • A curated repository of spectral data that is easy to query,
                    <br>
                    • Assignment of Digital Object Identifiers (DOIs) for fair reuse of data 
                    <br>
                    • Content is free to download and reuse
                    <br>
                    • Support to researchers for uploading their data
                    <br>
                    • Preservation of content indefinitely
                    <br>
                </p>
    </div>
</div>
</div>
<% include ../views/footer %>