        </div> <!-- page_content -->
    </main>
    <hr>
    <footer class="page-footer font-small blue" style="left:0;bottom: 0;height:10px; width: 100%; background:scroll;">
        <!-- Copyright -->
        
        <div class="footer-copyright text-center pt-2" style="color: gray;"> 
            <p class="float-left"><a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
            <p class="float-right"><a href="/">Back to top</a></p>
            <p>&copy; 2019 Copyright
            <a href="#" style="color: gray;"> Nature's Palette</a>
            <!--<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png"/>-->
            </p>
        </div><!-- Copyright -->
    </footer>



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
 
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- MultiStepForm -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/scripts/jszip/dist/jszip.js"></script>
    <script src="/scripts/ziplib/zip.js"></script>
    <script src="/scripts/nps.js"></script>
    <script src="/scripts/MultiStepForm.js"></script>
    
    <script type="text/javascript">
    </script>
  </body>
</html>