<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/MultiStepForm.css">
    <script type="text/javascript" src="./scripts/GoogleMaps/GoogleMaps.js"></script>

    <title>Nature's Palette</title>
  </head>

<!--<body background="/images/bg.jpg">-->
<body>
<nav class="navbar navbar-expand-md bg-secondary navbar-dark sticky-top"> <a class="navbar-brand" href="/">Nature's Palette</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse " id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"> <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a> </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Explore
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/search">Search Data</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/searchSubmission">Search By Submission</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/upload/startUpload">Upload Data</a> 
          <% if (typeof user!== 'undefined' && user != null && user.isAdmin == 1) { %>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/searchTerms">Manage Search Term</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" style= "color: red" href="/search/deleteData">Clear Database</a> 
          <% } %>
        </div>
      </li>
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/about">About Nature's Palette</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/team">Team and Committee</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/partners">Partners and Supporters</a>
            </div>
        </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Help
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/template">Submission Process</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/questions">FAQ</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/contact">Contact Us</a>
          </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if (typeof user!== 'undefined' && user != null) { %>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= user.name %></a>
            <div class="dropdown-menu" style=" white-space: normal; " aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user">User Profile</a>
                <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/submission">Submission Details</a>
                <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/logout"><img src="https://orcid.org/userStatus.json?logUserOut=true" onerror="this.style.display='none'"/>
                logout </a>
  
            </div>

          </li>
      <% } else {%> 
        <li class="nav-item" > <a class="nav-link" href="/login">Login or Join</a> </li>
      <% } %>
    </ul>
  </div>
</nav>

<div>
<main role="main" id="page_container"> 
