<% include ../views/header %>

<div class="container pt-3">
<div class="row">
    <div class="col ">
            <h3 style="text-align: center; font-weight:bold;color: #A6CE39;">Register or Sign in using ORCID </h3>
            <hr>
            <p  style="font-size: medium;text-align:center;line-height: 25px; ">  
                To submit your research data you need to Register or Sign in using ORCID credentials
            
                </p>
            <div style="text-align:center">
                <a href="/auth/orcid">
                    <button id="connect-orcid-button"><img id="orcid-id-icon" src="https://orcid.org/sites/default/files/images/orcid_24x24.png" width="24" height="24" alt="ORCID iD icon"/>Register or Connect your ORCID iD</button>
                </a>
            </div>
            <br>
            <br>
            <div style="text-align:left; background-color: #E8E8E8; padding: .8em; color: #666; font-size: .9em;">
                <p class="text-justify" style="font-size: small;text-align: justify;line-height: 25px;"> 
                ORCID provides a persistent identifier – an ORCID iD – that distinguishes you from other 
                researchers and a mechanism for linking your research outputs and activities to your iD. 
                Learn more at <a href="https://orcid.org/help">orcid.org</a>
                <br>
                <br>
                    Nature's Palette is 
                    collecting your ORCID iD so we can allow you to modify your submission. When you click the “Authorize” 
                    button, we will ask you to share your iD using an authenticated process: either by 
                    <a href="https://support.orcid.org/hc/articles/360006897454" target="_blank">
                    registering for an ORCID iD</a> or, if you already have one, by 
                    <a href="https://support.orcid.org/hc/articles/360006971613" target="_blank">
                    signing into your ORCID account</a>, then granting us permission to get your ORCID 
                    iD. We do this to ensure that you are correctly identified and securely connecting 
                    your ORCID iD. Learn more about 
                    <a href="https://orcid.org/blog/2017/02/20/whats-so-special-about-signing" target="_blank">
                    What’s so special about signing in</a>
                </p>
                </div>
    </div>
</div>
</div>
<% include ../views/footer %>

        