<% include ../views/header %>
<div class="container pt-3">

<!-- Header -->
    <header class=" text-center py-2 mb-5 " style="color: teal;">
    <div class="container">
      <h3 class="font-weight-bold text-black">Meet The Team</h3>
    </div>
    <hr>
  </header>
 
  
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="images/team/team1.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Dr. Pierre-Paul Bitton</h5>
            <div class="card-text text-black-50">Principal Investigator</div>
            <a href="mailto:pbitton@mun.ca "><button class="button">Contact</button></a>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="images/team/team2.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Dr. Adrian Fiech</h5>
            <div class="card-text text-black-50">Principal Investigator</div>
            <a href="mailto:afiech@mun.ca"><button class="button">Contact</button></a>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="images/team/team3.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Alison Farrell</h5>
            <div class="card-text text-black-50">Co-investigator</div>
            <a href="mailto:alisonr@mun.ca "><button class="button">Contact</button></a>
          </div>
        </div>
      </div>
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="images/team/team4.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Rabeya Akhter</h5>
            <div class="card-text text-black-50">Web Developer</div>
            <a href="mailto:rakhter@mun.ca "><button class="button">Contact</button></a>
          </div>
        </div>
      </div>
    
    <!-- /.row -->
      <!-- Team Member 4 -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-0 shadow">
          <img src="images/team/team5.jpg" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-title mb-0">Aidin Talaeizad</h5>
            <div class="card-text text-black-50">Cloud and Database Developer</div>
            <a href="mailto:atalaeizad@mun.ca "><button class="button">Contact</button></a>
          </div>
        </div>
      </div>

    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <img src="images/team/fall19.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center">
          <h5 class="card-title mb-0">Software Engineering  </h5>
          <div class="card-text text-black-50">Memorial University - class Fall'19</div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- /.container -->
  <% include ../views/footer %>
  